acres==0.3.0
apturl==0.5.2
asgiref==3.9.1
attrs==21.2.0
babel==2.16.0
bcrypt==4.3.0
blinker==1.4
Brlapi==0.8.3
certifi==2020.6.20
cffi==1.17.1
chardet==4.0.0
ci-info==0.3.0
click==8.0.3
colorama==0.4.4
command-not-found==0.3
comtypes==1.4.11
configobj==5.0.9
configparser==7.1.0
contourpy==1.3.2
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.8
cupshelpers==1.0
cv2imshow==0.10
cycler==0.12.1
Cython==3.0.0a10
dbus-python==1.2.18
decorator==5.1.1
defer==1.0.6
dill==0.4.0
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==4.2.2
django-cors-headers==4.7.0
django-filter==23.2
django-taggit==4.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
drf-yasg==1.21.6
etelemetry==0.3.1
filelock==3.17.0
fitz==0.0.1.dev2
fonttools==4.58.1
gevent==20.9.0
greenlet==3.1.1
gyp==0.1
hackyargparser==0.12
httplib2==0.20.2
idna==3.3
importlib-metadata==4.6.4
importlib_resources==6.5.2
inflection==0.5.1
isodate==0.6.1
itypes==1.2.0
jeepney==0.7.1
Jinja2==3.1.5
joblib==1.5.1
jsonschema==3.2.0
keyboard==0.13.5
keyring==23.5.0
kiwisolver==1.4.8
kthread==0.2.3
kthread-sleep==0.11
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libsass==0.20.1
looseversion==1.3.0
louis==3.20.0
lxml==5.3.0
lxml_html_clean==0.4.1
macaroonbakery==1.3.1
Markdown==3.4.3
MarkupSafe==3.0.2
matplotlib==3.10.3
more-itertools==8.10.0
netifaces==0.11.0
networkx==3.4.2
nibabel==5.3.2
nipype==1.9.2
numpy==2.2.3
oauthlib==3.2.0
olefile==0.46
opencv-python==4.11.0.86
packaging==24.2
pandas==2.2.3
paramiko==3.5.1
passlib==1.7.4
pathlib==1.0.1
pexpect==4.8.0
Pillow==9.0.1
polib==1.2.0
protobuf==3.12.4
prov==2.0.1
psutil==6.1.1
psycopg2==2.9.6
psycopg2-binary==2.9.10
ptyprocess==0.7.0
puremagic==1.28
pycairo==1.20.1
pycparser==2.22
pycups==2.0.1
pydot==3.0.4
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==24.3.0
pyparsing==3.2.1
pypdf==5.1.0
PyPDF2==3.0.1
pyRFC3339==1.1
pyrsistent==0.18.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==0.19.2
pytz==2022.1
pywinpipe==0.11
pyxdg==0.27
pyxnat==1.6.3
PyYAML==5.4.1
rdflib==6.3.2
reportlab==3.6.8
requests==2.25.1
rjsmin==1.2.3
scikit-learn==1.7.0
scipy==1.15.2
SecretStorage==3.3.1
simplejson==3.20.1
six==1.16.0
sqlparse==0.5.3
subprocess-alive==0.10
subprocess-multipipe==0.10
systemd-python==234
texttable==1.6.4
threadpoolctl==3.6.0
traits==7.0.2
typing_extensions==4.12.2
tzdata==2025.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
uritemplate==4.2.0
urllib3==1.26.5
varpickler==0.10
wadllib==1.3.6
websocket-client==1.2.3
Werkzeug==2.0.2
whitenoise==6.5.0
xdg==5
xkit==0.0.0
zipp==1.0.0
zope.event==5.0
zope.interface==7.2
